.container {
    font-family: 'Germania One';
    padding: 10px;
  }
  .container .row .col-xs-5 {
    padding: 5px;
    
  }
  div button {
    background-color: #16DB65;
  }
  div button:hover {
    transform: scale(1.1);
    background-color: #16DB65;
  }